<!DOCTYPE html>
<html lang="en" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">
<head th:replace="/fragments/head :: head"></head>
<body>
<div class="main-wrapper">
    <div th:replace="/fragments/header :: div"></div>
    <div th:replace="/fragments/sidebar :: div"></div>
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <div class="mt-5">
                            <h4 class="card-title float-left mt-2">Clientes</h4> <a th:href="@{/cliente/form/0}" class="btn btn-primary float-right veiwbutton">Anadir cliente</a> </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body booking_card">
                            <div class="table-responsive">
                                <table class="datatable table table-stripped table table-hover table-center mb-0">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Nombre cliente</th>
                                        <th>Tipo Documento</th>
                                        <th>Numero documento</th>
                                        <th>Correo</th>
                                        <th>Fecha de nacimiento</th>
                                        <th class="text-right">Acciones</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="cliente : ${cliente}">
                                        <td th:text="${cliente.IDCliente}"></td>
                                        <td th:text="${cliente.nombre}"></td>
                                        <td th:text="${cliente.documento.abreviatura}"></td>
                                        <td th:text="${cliente.numerodocumento}"></td>
                                        <td th:text="${cliente.correo}"></td>
                                        <td th:text="${cliente.fechanacimiento}"></td>
                                        <td class="text-center">
                                            <div class="dropdown dropdown-action"> <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis-v ellipse_color"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right"> <a th:href="@{/cliente/form/{id}(id=${cliente.IDCliente})}" class="dropdown-item" href="edit-customer.html"><i class="fas fa-pencil-alt m-r-5"></i> Editar</a> <a th:href="@{/cliente/{id}(id=${cliente.IDCliente})}" class="dropdown-item" href="edit-customer.html"><i class="fas fa-pencil-alt m-r-5"></i>Borrar</a></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script data-cfasync="false" src="../../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src="assets/js/jquery-3.5.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="assets/plugins/datatables/datatables.min.js"></script>
<script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
<script src="assets/plugins/raphael/raphael.min.js"></script>
<script src="assets/js/script.js"></script>
</body>

</html>